body{
    background-color: #c3c2c0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.corpo-cardapio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #fff;
    width: 53.125rem;
    padding: 2rem;
    border-radius: 10px;
}

.container_principal, .container_secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 53.125rem;
    height: 33.12rem;
    margin-bottom: 2.18rem;
    background-color: #f5f5f5;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0, .2);
    border-radius: 10px;
}

.container_textos, .container_secundario_textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.container_pratos, .container_acompanhamentos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.container_cards{
    display: flex;
    flex-direction: column;
    margin: .1rem 1rem;
    width: 230px;
    border: 8px solid #f5f5f5;
    border-radius: 6px;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0, .2);
}

.precos{
    color: #115a08;
    font-weight: 700;
}

.container_formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 53.125rem;
    margin: auto;
    background-color: #f5f5f5;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0, .2);
    border-radius: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -15px;
}

.formulario > input{
    padding: .9rem;
    width: 65%;
    height: 5px;
    margin: .8125rem;
    border-radius: 6px;
    border: 0;
}

button{
    margin-top: 1rem;
    background-color: #007aff;
    color: #fff;
    font-size: 1.2rem;
    border:  0;
    border-radius: 4px;
    padding: 1.3rem 24.52rem;
}

button:hover{
    cursor: pointer;
}

.container_pedido{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    font-size: 0.9rem;
}